<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-blog-form mb-4">
     
      <div class="form-outline mb-4">
        <label class="form-label" for="blog-title">Title Your Post!</label>
        <textarea class="form-control form-input" id="blog-title" rows="1" name="blog-title"></textarea>
      </div>

      <div class="form-outline mb-4">
        <label class="form-label" for="blog-post-text">Type Away!</label>
        <textarea class="form-control form-input" id="blog-post-text" rows="6" name="blog-post-text"></textarea>
      </div>

      <div class="form-outline">
        <button type="submit" class="btn btn-success">Post that Post!</button>
      </div>
    </form>
  </div>

  {{#if blogPosts.length}}
  <div class="col-md-6 blogPost-list">
    <h3>Your Posts:</h3>

    {{#each blogPosts as |blogPost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a class="font-italic" href="/post/{{blogPost.id}}">{{blogPost.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button href='/edit/' id="edit-btn" class="btn btn-sm btn-success" data-id="{{blogPost.id}}">edit</button> |
        <button id="delete-btn" class="btn btn-sm btn-warning" data-id="{{blogPost.id}}">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>